.text-field {
    margin-bottom: 10px;
    background-color: #000;
}

.text-field label {
    display: block;
}

.text-field input {
    width: 100%;
    background-color: #000;
}

.tf {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px;
    align-items: center;
    border: solid whitesmoke 2px;
    width: 300px;
    
    
}